body {
  background-color: rgb(69, 69, 69);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0;
}

div {
  margin-bottom: 30px;

  min-height: 80px;
}

input {
  background-color: transparent;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-radius: 10px;
  color: white;
  flex: 1;
  font-size: 24px;
  padding-left: 100px;
  text-align: center;

  height: 60px;
}

.navbar {
  background-color: rgba(255, 255, 2555, 0.1);
  gap: 16px;
  padding: 16px;

  display: flex;
  align-items: center;
}

.flag {
  position: absolute;
  left: 50px;
  width: 60px;
}

.icon {
  width: 50px;
}

.input-container {
  background-color: rgb(94, 94, 94);
  padding-right: 32px;
  padding-left: 32px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.currency {
  color: rgb(159, 159, 255);
  font-size: 20px;
  font-weight: 700;

  position: absolute;
  right: 42px;
  bottom: 24px;
}

.container01 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button01 {
  background-color: lightblue;
  border: unset;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 24px;

  padding: 0 32px;

  height: 50px;
}
